body {
	background: #fff;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 30px;
	font-size: 3rem;
	text-align: center;
	background-color: #ccc;
}

h1 {
	font-size: 180px;
	font-size: 18rem;
	margin: 0;
	text-shadow: 0 2px 1px #fff;
}

p {
	width: 80%;
	margin: 20px auto;
	margin: 2rem auto;
	text-shadow: 0 1px 1px #fff;
}

a, a:visited {
	color: #444;
	font-weight: bold;
	font-style: italic;
	text-shadow: none;
}

small {
	font-style: italic;
	font-size: 20px;
	font-size: 2rem;
	text-shadow: 0 1px 0 #fff;
}

.download {
	padding-left: 15px;
	padding-left: 1.5rem;
}

.pro-tip {
	display: block;
	padding: 20px;
	padding: 2rem;
	text-shadow: 0 1px 0 #fff;
}

pre {
	font-size: 18px;
	font-size: 1.8rem;
}

blockquote {
	text-align: left;
	width: 50%;
	margin: 10px auto;
	margin: 1rem auto;
	background: #eee;
	border: solid 2px #bbb;
	padding: 0 40px;
	padding: 0 4rem;
}

code {
	font-style: normal;
	padding-left: 5px;
	padding-left: .5rem;
}

/*----------------------------------------  HEADER  */

#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: #555;
	border-bottom: solid 3px #444;
	padding: 5px;
	padding: .5rem;
}

.nav-button {
	padding: 10px;
	padding: 1rem;
	text-decoration: none;
	color: #ccc;
	font-size: 20px;
	font-size: 2rem;
	text-shadow: 0 -1px 1px #000;
	text-transform: uppercase;
	font-weight: bold;
	font-style: normal;
}

.current, a.nav-button:hover {
	color: #fff;
}

#resize-graphic {
	position: fixed;
	bottom: 0;
	right: 0;
}

/*----------------------------------------  SLIDES  */

.slide {
	position: relative;
	margin: 0;
	width: 100%;
	padding: 150px 0;
	padding: 15rem 0;
	height: 80rem;
}

#title {
	line-height: .8;
}

#author {
	width: 70%;
	font-size: 20px;
	font-size: 2rem;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-bottom: 2rem;
	text-align: right;
	font-style: italic;
}

#examples h1 {
	padding-bottom: 20px;
	padding-bottom: 2rem;
}

#credits {
	padding-top: 80px;
	padding-top: 8rem;
}

/*------------------------  BASE-REM SIZING  */


@media (min-width: 1520px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 1400px) {
	html {
		font-size: 11px;
	}
}

/* target screen width  */
@media (max-width: 1280px) {
	html {
		font-size: 10px;
	}
}
	
@media (max-width: 1160px) {
	html {
		font-size: 9px;
	}
}
	
@media (max-width: 1040px) {
	html {
		font-size: 8px;
	}
}
	
@media (max-width: 920px) {
	html {
		font-size: 7px;
	}
}
	
@media (max-width: 800px) {
	html {
		font-size: 6px;
	}
}
	
@media (max-width: 680px) {
	html {
		font-size: 5px;
	}
}
	
@media (max-width: 560px) {
	html {
		font-size: 4px;
	}
}
	
@media (max-width: 440px) {
	html {
		font-size: 3px;
	}
}

@media (max-width: 320px) {
	html {
		font-size: 3px;
	}
}