html {
	font-size: 10px;
	background: white;
}

body {
	background: #fff;
	font-family: 'Corben', Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.4;
}

ul {
	list-style: none;
	padding: 0;
}

h1 {
	font-size: 64px;
	font-size: 6.4rem;
	padding: 0;
}

h2 {
	font-size: 48px;
	font-size: 4.8rem;
}

p, li {
	font-weight: 400;
	font-size: 36px;
	font-size: 3.6rem;
}

a, a:visited {
	font-weight: 400;
	font-style: italic;
	color: #666;
}

li {
	padding: 4px 0;
	padding: .4rem 0;
}

/*----------------------------------------  HEADER  */

#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: #eee;
}

#header h1 {
	margin: 0;
	padding: 10px 20px 10px;
	padding: 1rem 2rem 1rem;
	font-size: 16px;
	font-size: 1.6rem;
	color: #999;
	font-weight: normal;
}

#nav {
	position: absolute;
	top: 3px;
	top: .3rem;
	right: 20px;
	right: 2rem;
}

.nav-button {
	float: left;
	padding: 10px;
	padding: 1rem;
	text-decoration: none;
	color: #999;
	font-size: 16px;
	font-size: 1.6rem;
}

.current, a.nav-button:hover {
	color: #333;
}

/*------------------------  SLIDES  */

.slide {
	position: relative;
	margin: 0 auto;
	width: 90%;
	padding: 11rem 0 20rem;
	text-align: center;
}

#what1 {
	padding: 18rem 0 20rem;
}

#what1 h1 {
	font-size: 48px;
	font-size: 4.8rem;
}

#what1 strong {
	display: block;
	font-size: 64px;
	font-size: 6.4rem;
}

#what2 {
	padding: 24rem 0 20rem;
}

#what2 strong {
	display: block;
	font-size: 64px;
	font-size: 6.4rem;
	font-style: italic;
	position: relative;
	top: 6px;
	top: .6rem;
	letter-spacing: 3px;
	letter-spacing: .3rem;
}

#what3 h2 {
	font-size: 36px;
	font-size: 3.6rem;
}

#what3 strong {
	display: block;
	font-size: 64px;
	font-size: 6.4rem;
}

#what3 small {
	display: block;
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: 400;
	font-style: italic;
	padding-bottom: 24px;
	padding-bottom: 2.4rem;
}

#what4 h2 {
	font-size: 64px;
	font-size: 6.4rem;
}

.where p, .where h2 {
	margin: 0;
}

/*------------------------  BASE-REM SIZING  */


@media (min-width: 1520px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 1400px) {
	html {
		font-size: 11px;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 10px;
	}
}
	
@media (max-width: 1160px) {
	html {
		font-size: 9px;
	}
}
	
@media (max-width: 1040px) {
	html {
		font-size: 8px;
	}
}
	
@media (max-width: 920px) {
	html {
		font-size: 7px;
	}
}
	
@media (max-width: 800px) {
	html {
		font-size: 6px;
	}
}
	
@media (max-width: 680px) {
	html {
		font-size: 5px;
	}
}
	
@media (max-width: 560px) {
	html {
		font-size: 4px;
	}
}
	
@media (max-width: 440px) {
	html {
		font-size: 3px;
	}
}

@media (max-width: 320px) {
	html {
		font-size: 3px;
	}
}